
.DS_Store
picoh/.idea/workspace.xml
tools/.idea/inspectionProfiles/profiles_settings.xml
tools/.idea/modules.xml
tools/.idea/tools.iml
tools/.idea/misc.xml
tools/.idea/vcs.xml
*.gz
*.iml
*.xml
!picoh/PicohSettings.xml
test/picohData/MotorDefinitionsPicoh.omd
test/picohData/ohbot.obe
test/picohData/PicohSpeech.csv
test/test.py
test/picohData/picohspeech.wav
*.icloud
picoh/__pycache__/__init__.cpython-36.pyc
picoh/__pycache__/picoh.cpython-36.pyc
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/picoh-python/v16/.suo
*.pyc
